// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#container {
    display: flex;
}

#mapid {
    flex: 3;
    height:100vh;
}

#home-listing {
    margin:1em;
    flex: 1;
}